.classpath
.project
.settings
**/*.log
target
swagger.json
whipper/src/main/java/org/whipper/xml/result/*.java
whipper/src/main/java/org/whipper/xml/suite/*.java
whipper/src/main/java/org/whipper/xml/error/*.java
*.episode
dist
node_modules
npm-debug.log
/e2e/*.js
/e2e/*.map
node
*.idea
*.iml
whipper-webapp/src/whipper-app/package-lock.json
