<header>
  <a routerLink="/">
    <div>
      Whipper
    </div>
  </a>
</header>
<main>
  <div>
    <nav>
      <a class="actionable" routerLink="/jobs" routerLinkActive="active">Jobs</a>
      <a class="actionable" routerLink="/start-job" routerLinkActive="active">Start Job</a>
      <a class="actionable" routerLink="/query-sets" routerLinkActive="active">Query Sets</a>
      <a class="actionable" routerLink="/scenarios" routerLinkActive="active">Scenarios</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</main>
