<ul>
  <li *ngFor="let job of jobs; let i = index">
    <span class="actionable" (click)="jobClicked(i)">{{job["job-info"]["job-name"]}}</span>
    <div class="jobResult" [class.hidden]="!isSelected(i)">
      <div *ngIf="job.scenarios.length === 0">
        No results.
      </div>
      <div *ngFor="let scen of job.scenarios">
        {{scen.id}}
        <div class="jobSummary">
          all - {{scen.all}}<br>
          pass - {{scen.pass}}<br>
          fail - {{scen.fail}}<br>
          skip - {{scen.skip}}
        </div>
      </div>
      <button class="jobDetailsButton actionable" routerLink="/jobs/{{job.id}}">Detail</button>
    </div>
  </li>
</ul>

