body{
  margin: 0px;
  font-size: 20px;
}
button::-moz-focus-inner{
  border: 0;
}
a{
  outline: 0;
  text-decoration: none;
}
.visible{
  display: inherit;
}
.hidden{
  display: none;
}
.actionable{
  cursor: pointer;
}
.actionable:hover{
  background-color: #334d00;
  color: white !important;
}